<?xml version="1.0" encoding="UTF-8" ?>
<widget xmlns   = "http://www.w3.org/ns/widgets"
    xmlns:gap   = "http://phonegap.com/ns/1.0"
    id          = "ALIYAN ASIF GAMER"
    versionCode = "10"
    version     = "1.0.0" >

<!-- versionCode is optional and Android only -->

  <name>BEST CAT JUMP</name>

  <description>
   BEST  CAT JUMP IN WORLD.
  </description>

  <author href="https://aliyanasif10.wixsite.com/aliyan" email="aliyanasif10@gmail.com">
      aliyan asif
  </author>

<icon src= "download.png"/>
</widget>